In [2]:
import pandas as pd
from sklearn import linear_model

In [3]:
df=pd.read_csv('insurance.csv')
df

   Age  height  weight   Premium
0   25  162.56       70    18000
1   30  172.72       95    38000
2   35  167.64       78    38000
3   40     NaN      110    60000
4   45  157.48       85    70000

In [4]:
meanHeight=df.height.mean()
meanHeight

165.1

In [5]:
df.height=df.height.fillna(meanHeight)
df

   Age  height  weight   Premium
0   25  162.56       70    18000
1   30  172.72       95    38000
2   35  167.64       78    38000
3   40  165.10      110    60000
4   45  157.48       85    70000

In [6]:
x=df.drop('Premium',axis=1)
x

   Age  height  weight
0   25  162.56       70
1   30  172.72       95
2   35  167.64       78
3   40  165.10      110
4   45  157.48       85

In [10]:
y=df['Premium']
y

0    18000
1    38000
2    38000
3    60000
4    70000
Name: Premium, dtype: int64

In [12]:
model=linear_model.LinearRegression()

In [17]:
model.fit(x,y)
model.coef_
model.intercept_

-16827.013154824934

In [18]:
model.predict([[27, 165.56, 60]])

H:\python setup\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([18854.40430838])

In [19]:
model.predict([[60, 165.10, 80]])

H:\python setup\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([96180.35091498])

In [20]:
predict=model.predict(x)
predict

array([18425.78800333, 34469.07509437, 41167.44734182, 62554.72801996,
       67382.96154053])

In [26]:
r=model.score(x,y)
print(f" Accury is {round(r*100)}%")
print(f" Error is {round(100-r*100)}%")

 Accury is 98%
 Error is 2%